<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Appenders>
        <File name="FileAppender" filename="calculator.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d - %C [%M] - (%p) %m %n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>